@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scaleTo {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.25;
    }
}

@keyframes scaleTo {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.25;
    }
}

@-webkit-keyframes scaleTo {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.25;
    }
}

@-moz-keyframes scaleTo {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.25;
    }
}

@-ms-keyframes scaleTo {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.25;
    }
}

@-o-keyframes scaleTo {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.25;
    }
}

@keyframes test {
    0% {
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
