@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*  -ms-overflow-style: none;*/
/*}*/
/*body{*/
/*    overflow: hidden;*/
/*}*/
/*::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/
h1 {
    margin: 0.67em 0;
    font-size: 1.5em;
}

.profile_name {
    color: grey;
}

body {
    background-color: #141414;
    color: #fff;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

p {
    font-size: 1em;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner-title {
    font-weight: bold;
    font-size: 3em;
}